<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS-API</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>NEWS</h2>
    <section>
        {{#each data.articles }}
        <article>
            <div>
                <img src={{ urlToImage }} alt="">
            </div>
            <h1>{{ author }}</h1>
            <div>
                <h3>{{ description }}</h3>
                <p>{{ content }}</p>
            </div>
            <div>
                <a href={{ url }}>See More</a>
            </div>

        </article>
        {{/each}}
    </section>
</body>

</html>